body {
    font-size: 16px;
    word-break: break-all;
    font-family: YakuHanJPs, Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

img {
    width: 100%;
}

.a-botton-a {
    text-align: center;
    margin: auto;
}

.a-button {
    display: inline-block;
    border: 2px rgb(33, 150, 244) solid;
    padding: .3em;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.a-dere:hover {
    background: none;
    color: rgb(255 255 255);
}

.a-button:hover {
    background: rgb(33 150 244);
}

#header {
    background-color: rgb(229 0 79);
    color: rgb(255 255 255);
    padding: 0 .5em;
}

.songCoverRow {
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 1em;
    column-gap: 1em;
    margin: .5em 0;
    max-height: 100px;
    overflow: hidden;
}

.songCoverKey {
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: bold;
    text-align: center;
    color: #E5004F;
    background-color: #F9E9EF;
    border-radius: .5em;
    vertical-align: top;
    line-height: 2em;
}

.songCoverValue {
    grid-row: 1/2;
    grid-column: 2/3;
}

.songImage {
    border-radius: 1em;
}

.songListTable {
    margin: auto;
}

.songListTable img {
    max-width: 5em;
    border-radius: .5em;
}

.songListTable td {
    vertical-align: middle;
}

#main {
    max-width: 1000px;
    margin: auto;
}